.home {
  background: "#3498db" !important;
  padding: 10px;
  color: black;
  height: 780px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-style: italic;
  margin: 0px;
  background-color: "black";
}

button {
  padding: 0;
  cursor: pointer;
}

button:focus {
  box-shadow: none !important;
}

table {
  margin-top: 30px;
}

.table-header {
  margin: 20px 0;
  background-color: black;
  color: whitesmoke;
  padding: 10px;
}
